* {
	box-sizing: border-box;
	scroll-behavior: smooth
	scroll-behavior: smooth; }

body {
	margin: 0;
	background-color: #ddd; }

.content {
  margin-left: 240px;
  padding: 1px 16px;
  height: 100%; }


ul.nav {
	list-style-type: none;
	margin: 0;
 	padding: 0;
 	width: 240px;
 	background-color: #f1f1f1;
 	position: fixed;
 	height: 100%;
 	overflow: auto;
  	top: 0;
	box-shadow: 1px 1px 9px 3px rgba(0, 0, 0, 0.2); }

ul.nav li a {
  display: block;
  color: #081108;
  padding: 8px 16px;
  text-decoration: none; }

ul.nav li a.active {
  background-color: #2e6930;
  color: white; }

ul.nav li a:hover {
  background-color: #555;
  color: white; }

td.left {
	width: 275px; }

td.right {
	width: 125px; }

.recipeColumn {
  float: left;
  width: 50%;
  padding-left: 20px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px; }

.recipeRow:after {
  content: "";
  display: table;
  clear: both; }

@media screen and (max-width: 1400px) {
	div.blogPost {
		width: 81%;}}

@media screen and (max-width: 1300px) {
	div.blogPost {
		width: 78%;}}

@media screen and (max-width: 1200px) {
  ul.nav {
		width: 100%;
		height: auto;
		position: fixed;
		top: 0; }

  ul.nav li a {
		float: left;
		padding: 15px; }

	div.content {
		margin-top: 40px;
		margin-left: 0; }

	div.box {
		margin-top: 10%;}

	div.blogNav {
		width: 25%;
		padding-top: 0px;
		top: 45px;
		z-index: -1; }

	div.blogPost {
		width: 75%;}}

@media screen and (max-width: 555px) {
	div.blogPost {
		width: 71%; }}

@media screen and (max-width: 510px) {
	ul.nav {
		position: relative;
		top: 0; }

	ul.nav li a {
		text-align: center;
		float: none; }

	div.content {
		margin-top: 0;
		margin-left: 0; }

	div.box {
		margin-top: 0%;}

	div.blogNav {
		width: 0px;
		height: 0px;
		box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);}

	div.blogPost {
		width: 100%; }

	div.recipeColumn {
		width: 100%; }}
